<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>main page</title>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>

<h2 th:text=${id}>???</h2>
<h2 th:text=${name}>???</h2>
<h2 th:text=${email}>???</h2>
<h2 th:text=${phone}>???</h2>
<h2 th:text=${access_token}>???</h2>
<h2 th:text=${refresh_token}>???</h2>
</body>
</html>
